*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: system-ui;
    background-color: #efefef;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    hyphens: auto;
}

#root, #__next {
    isolation: isolate;
}

/*Custom Styles*/

header {
    padding: 1rem;
    background-color: #aad619;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

header h1 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #fff;
}

section {
    margin: 2rem auto;
    max-width: 90vw;
}

section.meet-our-dogs {
    background-color: #aad6194f;
    max-width: 100vw;
    padding: 2rem 5vw;
}

p {
    margin-bottom: 1rem;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: .25rem;
}

ul {
    list-style: none;
    padding-left: 0; 
}

ul li::before {
    content: "→ "; 
    margin-right: 5px;
}

figure {
    display: inline-block; 
    text-align: center;    
}

figure img {
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    max-width: 600px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 0.25rem;
    font-weight: bold;
    color: #333;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
    min-height: 100px;
}

input[type="submit"] {
    background-color: #aad619;
    color: white;
    font-weight: 700;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #759312;
}


footer {
    padding: 1rem;
    background-color: #000;
    text-align: center;
}

footer p {
    color: #fff;
}